asgiref
certifi
cffi
charset-normalizer
cloudinary
cryptography
defusedxml
dj-database-url
dj-rest-auth
Django
django-allauth
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
oauthlib
Pillow
psycopg2
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
typing_extensions
urllib3
whitenoise
