.Button {
  box-sizing: border-box;
  border-radius: 1rem;
  text-align: center;
  padding: 0 1rem 0 1rem;
  margin: 1rem;
  font-weight: bold;
}

.ProfilesButton {
  border-radius: 1rem;
  text-align: center;
  padding: 0 1rem 0 1rem;
  margin: 0rem;
  font-weight: bold;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  box-shadow: 0 0 0.5rem 0.5rem white !important;
}

.Button:active {
  box-shadow: 0 0 0.5rem 0.5rem white !important;
}

.Button:focus {
  box-shadow: 0 0 0.5rem 0.5rem white;
}

.Green,
.Green:hover,
.Green:active,
.Green:focus {
  background: green;
  border: 1px solid green;
  color: black;
  border: 0.3rem solid transparent;
  box-shadow: 0 0 0.5rem 0rem rgb(0, 255, 0);
}

.FullWidth {
  width: 100%;
}

.HalfWidth {
  width: calc(50% - 2rem);
}

.Orange,
.Orange:hover,
.Orange:active,
.Orange:focus {
  background: rgb(233, 78, 22);
  border: 1px solid rgb(233, 78, 22);
  color: black;
  border: 0.3rem solid transparent;
  box-shadow: 0 0 0.5rem 0rem yellow;
  margin: 0.5rem;
}
