.Comment {
  color: rgb(255, 221, 0);
  font-size: 0.8rem;
  border: none;
  background: black;
  font-weight: 600;
  font-size: 1.2rem;
  outline: none;
  border-radius: 1.5rem;
  margin: 0.5rem;
}

.UpdatedAt {
  color: sandybrown;
}