.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 4rem;
  margin-bottom: 16px;
  background-color: black;
  border: none;
  box-shadow: 0rem 0rem 0.3rem 0.3rem orangered;
  color: yellow
}

.SearchBar input:focus {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 4rem;
  margin-bottom: 16px;
  background-color: black;
  border: none;
  box-shadow: 0rem 0rem 0.3rem 0.3rem orangered;
  color: yellow
}

.SearchBar input::placeholder {
  color: yellow;
}

.FixedSearchContainer {
  left: 40% ;
  margin-right: 10px;
  position: fixed;
  z-index: 2000;
  top: 11rem;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
  color: yellow;
}

.SearchIcon:hover {
  cursor: pointer;
  color: orangered;
}

.EventsContainer {
  overflow-y: auto;
  height: 100vh;
}


/* mobile devices */

@media (max-width: 768px) {
  .FixedSearchContainer {
  top: 6.5rem;
}
}