.Container {
  width: fit-content;
  margin: 1rem;
  height: fit-content;
  border: 0.3rem solid transparent;
  box-shadow: 0 0 0.5rem 0.5rem rgb(233, 78, 22);
}

.OrangeBorder {
  border: 0.3rem solid transparent;
  box-shadow: 0 0 0.5rem 0.5rem rgb(233, 78, 22);
}

.Image {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 1rem;
}

figure {
	padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  background: black;
  border: 1px solid orangered;
  box-sizing: border-box;
  border-radius: 1rem;
  color: orange;
  text-align: center;
  margin: 0.5rem 0 0 0;
}

.Input:focus {
  background: black;
  color: orange;
}

.Input::placeholder {
  color: orange;
}

.Header {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  color: orangered;
  border-radius: 1rem;
  padding: 1rem;
}

.Label {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: orangered;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
}