.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
  
  text-shadow:
  0.6rem -0.6rem 0.5rem darkgreen,
  0.4rem -0.4rem 0.5rem darkgreen,
  0.2rem -0.2rem 0.5rem darkgreen,
  -0.2rem 0.2rem 0.5rem darkgreen,
  -0.4rem 0.4rem 0.5rem darkgreen,
  -0.6rem 0.6rem 0.5rem darkgreen,
  -0.6rem -0.6rem 0.5rem darkgreen,
  -0.4rem -0.4rem 0.5rem darkgreen,
  -0.2rem -0.2rem 0.5rem darkgreen,
  0.2rem 0.2rem 0.5rem darkgreen,
  0.4rem 0.4rem 0.5rem darkgreen,
  0.6rem 0.6rem 0.5rem darkgreen;
  color: orangered;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  background-color: transparent;
}

.DropdownItem:hover,
.DropdownItem:focus,
.DropdownItem:hover span,
.DropdownItem:focus span {
  background-color: green;
  box-shadow: 0 0 1rem 1rem purple;
  border-radius: 2rem;
  color: yellow;
  padding: 0.5rem;
  text-shadow: violet 0.1rem 0.1rem 0.1rem;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 9999;
}

.Backcolor,
.Backcolor:hover {
  background-color: purple;
  box-shadow: 0 0 1rem 1rem green;
  border-radius: 2rem;
}

