.NavBar {
  margin: 1rem;
  background-color: rgb(0, 0, 0);
  color: darkviolet;
  border-radius: 2rem;
  font-size: 1.3rem;
  vertical-align: middle;
  z-index: 9999;
  border: 0.3rem solid transparent;
  box-shadow: 0 0 0.5rem 0.5rem darkviolet;
}

.NavLink {
  color: darkviolet;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem 0 blue;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
}

.NavLink:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 1rem 0.5rem 1rem;
  transition: text-shadow ease-in-out 0.3s;
}

.Active {
  text-shadow: blue 1rem 0.5rem 1rem;
}

.expanded .NavLink {
  flex-direction: row; 
}