.ProfileBar {
    background-color: black;
    border-radius: 1rem;
    box-shadow: 0.0 0.0 0.5rem 0.5rem orangered;
    padding: 1rem;
}

.ProfileBar p,
.ProfileBar h5,
.ProfileBar span {
  text-shadow:
  0.6rem -0.6rem 0.5rem darkorange,
  0.4rem -0.4rem 0.5rem darkorange,
  0.2rem -0.2rem 0.5rem darkorange,
  -0.2rem 0.2rem 0.5rem darkorange,
  -0.4rem 0.4rem 0.5rem darkorange,
  -0.6rem 0.6rem 0.5rem darkorange,
  -0.6rem -0.6rem 0.5rem darkorange,
  -0.4rem -0.4rem 0.5rem darkorange,
  -0.2rem -0.2rem 0.5rem darkorange,
  0.2rem 0.2rem 0.5rem darkorange,
  0.4rem 0.4rem 0.5rem darkorange,
  0.6rem 0.6rem 0.5rem darkorange;
  color: black;
  font-weight: 500;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
}

.ProfileBar h4 {
  font-family: "Mukta", serif;
  color: rgb(167, 0, 0);
  font-weight: 500;
}