.Input {
  background: black;
  border: 1px solid green;
  box-sizing: border-box;
  border-radius: 1rem;
  color: orange;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.Input:focus {
  background: black;
  color: orange;

}

.Input::placeholder {
  color: orange;
}

.Header {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: green;
  border-radius: 1rem;

}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: green
}

.Link span {
  color: #ff9254;
}

.Container {
  padding: 1rem;
}

.SignInCol {
  height: 40rem;
}
