.App {
  background-color: #212121;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
}

.App p,
.App input,
.App textarea {
  font-family: 'Padauk', sans-serif;
}

.Main {
  padding-top: 9rem;
}

.Content {
  padding: 0.5rem;
  border-radius: 1rem;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  text-shadow: none;
  transition: text-shadow ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-shadow: 1rem 1rem 1rem;
  transition: text-shadow ease-in-out 0.3s;
}

a:hover i {
  text-shadow: 1rem 1rem 1rem;
  transition: text-shadow ease-in-out 0.3s;
}

i {
  font-size: 1.6rem;
  padding: 1rem;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  text-shadow: 1rem 1rem 1rem;
  transition: text-shadow ease-in-out 0.3s;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Pointer,
.Pointer:hover,
.Pointer:focus {
  cursor: pointer;
  text-shadow: 1rem 1rem 1rem;
  transition: text-shadow ease-in-out 0.3s;
}

.eventFormImage {
  max-width: 100%;
  max-height: 20vh;
  object-fit: contain;
  border-radius: 8px;
}

.YMargin {
  margin: 5rem 5rem;
}

/* mobile */
@media (max-width: 600px) {
  .Main {
    padding-top: 6rem;
  }
}
