#root {
  background-color: #212121;
}

body {
  background-color: #212121;
  margin: 0;
  width: 100%;
  font-family: "Padauk", sans-serif;
}

h1, h2, h3, h4, h5, h6, Link {
  font-family: "Mukta", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
